.p-card{
    border: 1px solid #D7D7D7;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 15px;
    position: relative;
    overflow: hidden;

    @media only screen and (max-width: 500px){
        max-width: 90vw;
        margin: 0 auto;
    }

    .img-wrapper{
        height: 230px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 100%;
            width: auto !important;
            object-fit: contain;
        }
        
    }

    &:hover{
        .hover{
            top: 0;
            opacity: 1;
            transition: all .4s ease-in-out;
            background-color: #050035a6;
        }
    }

    .hover{
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        // top: -100%;
        top: 0;
        left: 0;
        background-color: transparent;
        opacity: 0;
        transition: all .4s ease-in-out;
        color: #fff;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .btn-grey{
            background: #73718E;
            border: 1px solid #FFFFFF !important;
            box-sizing: border-box;
            border-radius: 8px;
            color: #fff;
        }

    }
    .apps-wrapper{
        display: flex;
        margin-top: 8px;
        img{
            width: 30px;
            margin-right: 12px;
        }


    }
    .f12{
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .excerpt{
        // font-weight: 600;
    }
}


.banner2{
    .img360{
        margin-top: -22%;

        @media only screen and (max-width: 991px){
            margin-top: -39%;
        }
    }
}


// =======
// Single Product
// =======


.single-product{
    margin-bottom: 3rem;
    .content-wrapper{
        border: 1px solid #D7D7D7;
        border-radius: 8px;
        padding: 35px 25px;
        @media only screen and (max-width: 767px){
            padding: 35px 15px;
        }

    }

    .pump-details{
        .label{
            min-width: 196px;   
            max-width: 150px;  
            @media only screen and (max-width: 991px){
                min-width: 150px; 
                max-width: 150px;  

            }
        }
        p{
            line-height: 1.2;
        }
    }

    .product-imgs{
        // position: sticky;
        // top: 50%;
        // transform: translateY(-40%);

        @media only screen and (max-width: 991px){
            position: initial;
            transform: unset;
            margin-bottom: 3rem;
        }
        #mainCarousel {
            width: 100%;
            margin: 0 auto 1rem auto;
          
            --carousel-button-color: #170724;
            --carousel-button-bg: #fff;
            --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%),
              0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
          
            --carousel-button-svg-width: 20px;
            --carousel-button-svg-height: 20px;
            --carousel-button-svg-stroke-width: 2.5;
          }
          
          #mainCarousel .carousel__slide {
            width: 100%;
            padding: 0;
            display: flex;
            justify-content: center;
    align-items: center;
          }
          
          #mainCarousel .carousel__button.is-prev {
            left: -0.6rem;
            box-shadow: unset;
            background-color: transparent;
            &:focus{
                box-shadow: unset;
            }
          }
          
          #mainCarousel .carousel__button.is-next {
            right: -0.6rem;
            box-shadow: unset;
            background-color: transparent;
            &:focus{
                box-shadow: unset;
            }
          }
          
          #mainCarousel .carousel__button:focus {
            outline: none;
            box-shadow: 0 0 0 4px #A78BFA;
          }
          
          #thumbCarousel .carousel__slide {
            opacity: 0.8;
            padding: 0;
            margin: 0.25rem;
            width: 23.2%;
            height: 96px;
            border: 1px solid #D7D7D7;
            border-radius: 8px;
            transition: all .2s linear;
          }
          
          #thumbCarousel .carousel__slide img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 4px;
          }
          
          #thumbCarousel .carousel__slide.is-nav-selected {
            opacity: 1;
            border-color: $blue;
          }
    }
}

.apps-wrapper{
    margin-top: 5px;
    img{
        margin-right: 8px;


        &:last-of-type{
            margin-right: 0;
        }
    }

}

.pump-details{
    .apps-wrapper{
        img{
            width: 50px !important;
        }
    }
}

.f-wrapper{
    @media only screen and (min-width: 991px){
        // position: sticky;
        // top: 120px;
    }
}